* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #022e43;
    font-family: Arial, Helvetica, sans-serif;
}

.data{
    font-family: 'Sometype Mono', monospace;
    padding: 15px;
    border: 3px solid whitesmoke;
    color: #FFF;
    font-size: 35px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Sometype Mono', monospace;
    font-size: 40px;
    color: #FFF;
    margin-bottom: 30px;
}

.relogio {
    width: 300px;
    height: 300px;
    border: 5px solid #FFF;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.riscos {
    width: 100%;
    height: 100%;
    padding-left: 50%;
    padding-top: 50%;
    margin-top: -3px;
}

.risco {
    width: 145px;
    height: 5px;
    position: absolute;
    transform-origin: left;
    display: flex;
    justify-content: flex-end;
}

.risco .ponto {
    width: 15px;
    height: 100%;
    background-color: #FFF;
}

.ponteiros {
    width: 100%;
    height: 100%;
    padding-left: 50%;
    padding-top: 50%;
    margin-top: -100%;
}

.p {
    transform-origin: left;
    transform: rotate(0deg);
    border-radius: 50%;
    position: absolute;
}

.p_s {
    width: 100px;
    height: 3px;
    background-color: #F00;
}

.p_m {
    width: 120px;
    height: 7px;
    background-color: black;
}

.p_h {
    width: 70px;
    height: 8px;
    background-color: #FFF;
}

.encaixe {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
}

.digital {
    color: #FFF;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    border: 1px solid white;
    padding: 9px;
    font-family: 'Sometype Mono', monospace;
    color: white;
    margin-top: 20px;
    font-size: 13px;
}

footer {
    font-family: 'Sometype Mono', monospace;
    margin-top: 35px;
    color: #FFF;
    font-size: 19px;
}